.buttons {
  width: 400px;


  padding: 1rem;
  font-size:1rem;
  background: #fceded;

  border: none;
  color: #1e1c1c;





}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  justify-content: center;

  width: max-content;

}

