.row {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    color: white;


}
.row__posters {
    display: flex;

    gap: 0.5rem;
    padding: 1.25rem;
    overflow-y: hidden;
    overflow-x: scroll;

}

.row__posters::-webkit-scrollbar {
    display: none;
}
.row__poster__large {
    max-height: 250px!important;
}
.row__poster__large:hover {
    transform: scale(1.1);

}

.row__poster {
    max-height: 100px;
    width: 100%;
    object-fit: contain;
    transition:transform 0.45s;
}

.row__poster:hover {
    transform: scale(1.08);
}


